Uploading dataset and working with it

In [19]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
df = pd.read_csv("star_type_ .csv")

Basic information

In [20]:
df.sample(5)

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type
91,4526,0.1530,0.865,6.506,Main Sequence
137,3598,0.0011,0.560,14.260,Red Dwarf
171,3500,138000.0000,1420.000,-8.180,Supergiant
52,3834,272000.0000,1183.000,-9.200,Supergiant
168,17383,342900.0000,30.000,-6.090,Hypergiant

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperature (K)         240 non-null    int64
 1   Luminosity(L/Lo)        240 non-null    float64
 2   Radius(R/Ro)            240 non-null    float64
 3   Absolute magnitude(Mv)  240 non-null    float64
 4   Star type               240 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 9.5+ KB

In [22]:
df["Star type"].value_counts()

Star type
Brown Dwarf      40
Red Dwarf        40
White Dwarf      40
Main Sequence    40
Hypergiant       40
Supergiant       40
Name: count, dtype: int64

Making a pipeline

In [23]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [1]:
import sys
print(sys.executable)

c:\Users\Swagata\OneDrive\Desktop\work space\Learning ML\space\Scripts\python.exe

In [ ]:
!python -m pip -V

pip 24.2 from c:\Users\Swagata\OneDrive\Desktop\work space\Learning ML\space\Lib\site-packages\pip (python 3.12)