Uploading dataset and working with it

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
df = pd.read_csv("star_type_ .csv")

Basic information

In [3]:
df.sample(5)

     Temperature (K)  Luminosity(L/Lo)  ...  Absolute magnitude(Mv)    Star type
27              7700           0.00011  ...                   14.47  White Dwarf
208            17920           0.00111  ...                   11.66  White Dwarf
133             2989           0.00870  ...                   13.12    Red Dwarf
22              7220           0.00017  ...                   14.23  White Dwarf
20             25000           0.05600  ...                   10.58  White Dwarf

[5 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperature (K)         240 non-null    int64
 1   Luminosity(L/Lo)        240 non-null    float64
 2   Radius(R/Ro)            240 non-null    float64
 3   Absolute magnitude(Mv)  240 non-null    float64
 4   Star type               240 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 9.5+ KB

In [5]:
df["Star type"].value_counts()

Star type
Brown Dwarf      40
Red Dwarf        40
White Dwarf      40
Main Sequence    40
Hypergiant       40
Supergiant       40
Name: count, dtype: int64

Train test split

In [10]:
from sklearn.model_selection import train_test_split

x_train = df.iloc[:,0:4]
y_train = df["Star type"]
x_train

     Temperature (K)  Luminosity(L/Lo)  Radius(R/Ro)  Absolute magnitude(Mv)
0               3068          0.002400        0.1700                   16.12
1               3042          0.000500        0.1542                   16.60
2               2600          0.000300        0.1020                   18.70
3               2800          0.000200        0.1600                   16.65
4               1939          0.000138        0.1030                   20.06
..               ...               ...           ...                     ...
235            38940     374830.000000     1356.0000                   -9.93
236            30839     834042.000000     1194.0000                  -10.63
237             8829     537493.000000     1423.0000                  -10.73
238             9235     404940.000000     1112.0000                  -11.23
239            37882     294903.000000     1783.0000                   -7.80

[240 rows x 4 columns]

Making a pipeline

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

x_train, y_train, x_test, y_test = train_test_split(x_train,y_train,test_size=0.2,random_state=42)

pipe = Pipeline([
    ("scaler",StandardScaler()),
    ("LogisticRegression",LogisticRegression())
      
])

Checking the right python path and pip

In [ ]:
import sys
print(sys.executable)
!python -m pip -V

c:\Users\Swagata\OneDrive\Desktop\work space\Learning ML\space\Scripts\python.exe
pip 24.2 from c:\Users\Swagata\OneDrive\Desktop\work space\Learning ML\space\Lib\site-packages\pip (python 3.12)